<header>
  <div class="hero">
    <section class="layout">
      <div class="branding">
        <a href="/">
        
        </a>
      </div><!-- branding -->
    </section><!-- layout -->
  </div><!-- hero -->

  <div class="navigation">
    <section class="layout">
      <ul class="nav">
        <li><a href="/"><i class="icon-home"></i> Home</a></li>
        <li><a href="/stylist"><i class="icon-user"></i> Stylist</a></li>
      </ul><!-- nav -->
    </section><!-- layout -->
  </div><!-- navigation -->
</header>