<article class="location">
	<h1>Address</h1>
	<p>
	<img src='<%= appdata.location.where.img %>'> 
	<ul>
	<li><%= appdata.location.address %></li>
	<li>Hours: <%= appdata.location.hours %></li>
	<li><%= appdata.location.where.name %> </li>
	</ul>
	</p>
	<p> <% include socialmedia.ejs %> </p>
</article>